$verde-oscuro: #004d40; 
$verde-claro: #8bc34a;  
$fondo-suave: #f9fbf9;  

.obras {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $fondo-suave;

  // Eliminamos appWrapper, sidebar y mainContent antiguos 
  // para que no interfieran con el layout de Ionic.
  .pageBody {
    padding: 10px;
    @media (min-width: 1024px) { padding: 20px; }
  }
}